{% extends "manageSite/base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 id="texto" class="text-center" style="margin-top: 20px;">Grabaciones</h1>
        <br>
        <div class="row">
            <div class="col-sw-12 col-md-3 p-2 d-flex align-self-center align-middle">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'manageSite/img/cam_1.png' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">01/11/19</h5>
                        <a href="" class="btn btn-secondary">Visualizar</a>
                    </div>
                </div>
            </div>
            <div class="col-sw-12 col-md-3 p-2 d-flex align-self-center align-middle">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'manageSite/img/ejem-cam2.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">02/11/19</h5>
                        <a href="" class="btn btn-secondary">Visualizar</a>
                    </div>
                </div>
            </div>
            <div class="col-sw-12 col-md-3 p-2 d-flex align-self-center align-middle">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'manageSite/img/ejem-cam.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">03/11/19</h5>
                        <a href="" class="btn btn-secondary">Visualizar</a>
                    </div>
                </div>
            </div>
            <div class="col-sw-12 col-md-3 p-2 d-flex align-self-center align-middle">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'manageSite/img/ejem-cam2.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">04/11/19</h5>
                        <a href="" class="btn btn-secondary">Visualizar</a>
                    </div>
                </div>
            </div>

            <div class="col-sw-12 col-md-3 p-2 d-flex align-self-center align-middle">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'manageSite/img/ejem-cam.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">05/11/19</h5>
                        <a href="" class="btn btn-secondary">Visualizar</a>
                    </div>
                </div>
            </div>
            <div class="col-sw-12 col-md-3 p-2 d-flex align-self-center align-middle">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'manageSite/img/ejem-cam2.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">06/11/19</h5>
                        <a href="" class="btn btn-secondary">Visualizar</a>
                    </div>
                </div>
            </div>
            <div class="col-sw-12 col-md-3 p-2 d-flex align-self-center align-middle">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'manageSite/img/ejem-cam.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">07/11/19</h5>
                        <a href="" class="btn btn-secondary">Visualizar</a>
                    </div>
                </div>
            </div>
            <div class="col-sw-12 col-md-3 p-2 d-flex align-self-center align-middle">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'manageSite/img/ejem-cam2.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">08/11/19</h5>
                        <a href="" class="btn btn-secondary">Visualizar</a>
                    </div>
                </div>
            </div>

            <div class="col-sw-12 col-md-3 p-2 d-flex align-self-center align-middle">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'manageSite/img/ejem-cam.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">09/11/19</h5>
                        <a href="" class="btn btn-secondary">Visualizar</a>
                    </div>
                </div>
            </div>
            <div class="col-sw-12 col-md-3 p-2 d-flex align-self-center align-middle">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'manageSite/img/ejem-cam2.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">12/11/19</h5>
                        <a href="" class="btn btn-secondary">Visualizar</a>
                    </div>
                </div>
            </div>
            <div class="col-sw-12 col-md-3 p-2 d-flex align-self-center align-middle">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'manageSite/img/ejem-cam.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">11/11/19</h5>
                        <a href="" class="btn btn-secondary">Visualizar</a>
                    </div>
                </div>
            </div>
            <div class="col-sw-12 col-md-3 p-2 d-flex align-self-center align-middle">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'manageSite/img/ejem-cam2.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">12/11/19</h5>
                        <a href="" class="btn btn-secondary">Visualizar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}