{% extends "manageSite/base.html" %}
{% load static %}
{% block content %}
    <div class="container-flui">
        <div class="row text-center">
            <div class="col-12 col-md-6">
                <div>
                    <h1 id="texto" class="text-center">Camara Face Detection</h1>
                    <figure class="figure">
                        <img src="{% url 'video-videostream' %}" style="width: 1400px;" class="img-fluid" alt="Responsive image">
                    </figure>
                </div>
                <div>
                    <h1 id="texto" class="text-center">Camara Plate Detection</h1>
                    <figure class="figure">
                        <img src="{% url 'video-videostream2' %}" style="width: 1400px;" class="img-fluid" alt="Responsive image">
                    </figure>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}