{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <div class="media row pt-2">
            <img class="rounded-circle account-img" src="{{ image_file }}">
            <div class="col-md-9 media-body">
                {% if user %}
                    <h2 class="account-heading">{{ user.get_username() }}</h2>
                    <h2 class="account-heading text-info">{{ user.type_of_user() }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                {% else %}
                    <h2 class="account-heading">{{ current_user.get_username() }}</h2>
                    <h2 class="account-heading text-info">{{ current_user.type_of_user() }}</h2>
                    <p class="text-secondary">{{ current_user.email }}</p>
                {% endif %}
            </div>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Informacion de cuenta</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                {% if current_user.access == 4 %}
                    <div class="form-group">
                        {{ form.access.label(class="form-control-label") }}
                        {% if form.access.errors %}
                            {{ form.access(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.access.errors %}
                                    <span>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.access(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                {% else %}
                    <div class="form-group" hidden>
                        {{ form.access.label(class="form-control-label") }}
                        {% if form.access.errors %}
                            {{ form.access(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.access.errors %}
                                    <span>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.access(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                {% endif %}
                {% if current_user.access == 4 %}
                    <div class="form-group">
                        {{ form.department.label(class="form-control-label") }}
                        {% if form.department.errors %}
                            {{ form.department(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.access.errors %}
                                    <span>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.department(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                {% else %}
                    <div class="form-group" hidden>
                        {{ form.department.label(class="form-control-label") }}
                        {% if form.department.errors %}
                            {{ form.department(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.access.errors %}
                                    <span>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.department(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                {% endif %}
                <div class="form-group">
                    {{ form.picture.label(class="mb-3") }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">
                                {{ error }}
                            </span>
                            <br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {% if not user or current_user.access == 4 %}
                    {{ form.submit(class="btn btn-outline-info mr-2") }}
                {% endif %}
                {% if current_user.access == 4 %}
                    <button type="button" class="btn btn-danger m-1" data-toggle="modal"
                    data-target="#deleteModal">Eliminar</button>
                {% endif %}
            </div>
        </form>
    </div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">¿Seguro que desea eliminar a este usuario?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                {% if user %}
                    <form action="{{ url_for('usuarios.borrar_usuario', usuario_id=user.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Eliminar">
                    </form>
                {% else %}
                    <form action="{{ url_for('usuarios.borrar_usuario', usuario_id=current_user.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Eliminar">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

