{% extends "base.html" %}
{% block content %}
    <div class="content-section" style="margin-top: 3%;">
        <div class="media row pt-2">
            <img class="rounded-circle account-img" style="margin-left: auto; margin-right: auto;" src="{{ image_file }}">
            <div class="col-md-9 media-body" style="">
                {% if user %}
                    <h2 class="account-heading">{{ user.name }}</h2>
                    <h2 class="account-heading">{{ user.type_of_user() }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                {% else %}
                    <h2 class="account-heading">{{ current_user.name }}</h2>
                    <h2 class="account-heading">{{ current_user.type_of_user() }}</h2>
                    <p class="text-secondary">{{ current_user.email }}</p>
                {% endif %}
            </div>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Informacion de cuenta</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                {% if current_user.access == 4 %}
                    <div class="form-group">
                        {{ form.access.label(class="form-control-label") }}
                        {% if form.access.errors %}
                            {{ form.access(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.access.errors %}
                                    <span>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.access(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                {% else %}
                    <div class="form-group" hidden>
                        {{ form.access.label(class="form-control-label") }}
                        {% if form.access.errors %}
                            {{ form.access(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.access.errors %}
                                    <span>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.access(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                {% endif %}
                <div class="form-group">
                    {{ form.picture.label(class="mb-3") }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">
                                {{ error }}
                            </span>
                            <br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info mr-4") }}
                {% if current_user.access == 4 %}
                    {{ form.delete(class="btn btn-outline-danger") }}
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}

