{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.name_tec.label(class="form-control-label") }}
                    {% if form.name_tec.errors %}
                        {{ form.name_tec(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name_tec.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name_tec(class="form-control form-control-lg", value='Instituto Tecnológico de Chihuahua II') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.name_sub.label(class="form-control-label") }}
                    {% if form.name_sub.errors %}
                        {{ form.name_sub(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name_sub.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name_sub(class="form-control form-control-lg", value='Subdirección Académica') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.periodo_escolar.label(class="form-control-label") }}
                    {% if form.periodo_escolar.errors %}
                        {{ form.periodo_escolar(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.periodo_escolar.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.periodo_escolar(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.no_visitas.label(class="form-control-label") }}
                    {% if form.no_visitas.errors %}
                        {{ form.no_visitas(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.no_visitas.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.no_visitas(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.nombre_empresa.label(class="form-control-label") }}
                    {% if form.nombre_empresa.errors %}
                        {{ form.nombre_empresa(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nombre_empresa.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nombre_empresa(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.ciudad.label(class="form-control-label") }}
                    {% if form.ciudad.errors %}
                        {{ form.ciudad(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ciudad.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ciudad(class="form-control form-control-lg", value='Chihuahua') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.objetivo.label(class="form-control-label") }}
                    {% if form.objetivo.errors %}
                        {{ form.objetivo(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.objetivo.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.objetivo(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.area_visita.label(class="form-control-label") }}
                    {% if form.area_visita.errors %}
                        {{ form.area_visita(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.area_visita.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.area_visita(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.fecha_visita.label(class="form-control-label") }}
                    {% if form.fecha_visita.errors %}
                        {{ form.fecha_visita(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.fecha_visita.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.fecha_visita(class="form-control form-control-lg", placeholder='dd/mm/yyyy') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.turno.label(class="form-control-label") }}
                    {% if form.turno.errors %}
                        {{ form.turno(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.turno.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.turno(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.carrera.label(class="form-control-label") }}
                    {% if form.carrera.errors %}
                        {{ form.carrera(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.carrera.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.carrera(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.semestre.label(class="form-control-label") }}
                    {% if form.semestre.errors %}
                        {{ form.semestre(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.semestre.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.semestre(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.total_estudiantes.label(class="form-control-label") }}
                    {% if form.total_estudiantes.errors %}
                        {{ form.total_estudiantes(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.total_estudiantes.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.total_estudiantes(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.nombre_asignatura.label(class="form-control-label") }}
                    {% if form.nombre_asignatura.errors %}
                        {{ form.nombre_asignatura(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nombre_asignatura.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nombre_asignatura(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.unidad_asignatura.label(class="form-control-label") }}
                    {% if form.unidad_asignatura.errors %}
                        {{ form.unidad_asignatura(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.unidad_asignatura.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.unidad_asignatura(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.nombre_jefe_departamento.label(class="form-control-label") }}
                    {% if form.nombre_jefe_departamento.errors %}
                        {{ form.nombre_jefe_departamento(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nombre_jefe_departamento.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nombre_jefe_departamento(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.nombre_subdirector.label(class="form-control-label") }}
                    {% if form.nombre_subdirector.errors %}
                        {{ form.nombre_subdirector(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nombre_subdirector.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nombre_subdirector(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            {% if current_user.access in [0, 4] %}
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                    <a class="btn btn-outline-secondary btn-md m-2 mt-2 ml-3" href="{{ url_for('principal.visitas') }}">Regresar</a>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock content %}