<h1 style="text-align: center;">Gestión de visitas</h1>

<p style="font-size: 1rem; text-align: center;">Para restablecer tu contraseña, da click en el siguiente enlace: <br><br><br> <a style="text-align: center;" href="{{ url_for('usuarios.reset_token', token=token, _external=True) }}">Restablecer mi contraseña</a></p>
<br>
<p style="font-size: 1rem; text-align: center;">Si no realizaste esta solicitud, por favor ignora este email.</p>
<br>
<div style="text-align: center; z-index: -1; left: 34%;">
    <div style="opacity: .8; bottom: 0rem;">
        <img style="max-width: 95%; height: auto;" src="https://raw.githubusercontent.com/DavidBanda/Python/master/Flask/flask_visitas/static/images/mail-itch2.jpeg">
        <!-- <img style="max-width: 95%; height: auto;" src="{{ image_file }}">
        <img style="max-width: 95%; height: auto;" src="https://www.google.com.mx/url?sa=i&url=http%3A%2F%2Fwww.itchihuahuaii.edu.mx%2F&psig=AOvVaw3O4F53UP1bC7IegxdNevCE&ust=1591393146723000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIjvos2P6ekCFQAAAAAdAAAAABAD">
        <img src="https://www.w3schools.com/images/lamp.jpg" alt="Lamp" width="32" height="32"> -->
    </div>
</div>


