{% extends "base.html" %}
{% block content %}
    {% for user in users.items %}
        {% if user != current_user %}
            <article class="media content-section">
                <img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" class="rounded-circle article-img">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{{ url_for('users.account_admin', username=user.username) }}">{{ user.username }}</a>
                        <small class="text-muted">{{ user.email }}</small>
                    </div>
                    {% if user.access == 0 %}
                        <h3><a class="article-title" href="{{ url_for('users.visitas_usuario', username=user.username) }}">Visitas</a></h3>
                    {% endif %}
                    <p class="article-content">{{ user.type_of_user() }}</p>
                </div>
            </article>
        {% endif %}
    {% endfor %}

    {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if users.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('users.all_users', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('users.all_users', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    


{% endblock content%}