{% extends "base.html" %}
{% block content %}
    {% for user in users.items %}
        {% if user != current_user %}
            <article class="media content-section">
                <img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" class="rounded-circle article-img">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{{ url_for('usuarios.account_admin', id=user.id) }}">{{ user.get_username() }}</a>
                        <small class="text-muted">{{ user.email }}</small>
                    </div>
                    <h3 class="mt-2"> {{ user.name }} </h3>
                    {% if user.access == 0 %}
                        <h3 class="mt-2"><a class="article-title text-info" href="{{ url_for('usuarios.visitas_usuario', id=user.id) }}">Visitas</a></h3>
                    {% endif %}
                    <ul class="list-group mb-2">
                        <li class="list-group-item-light mt-2">Tipo de usuario: <b>{{ user.type_of_user() }}</b></li>
                        {% if user.department != 0 %}
                            <li class="list-group-item-light mt-2">Departamento: <b>{{ user.get_department() }}</b></li>
                        {% endif %}
                    </ul>
                </div>
            </article>
        {% endif %}
    {% endfor %}

    {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if users.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('usuarios.all_users', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('usuarios.all_users', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    


{% endblock content%}