{% extends "base.html" %}
{% block content %}
<article class="media content-section">
    <img src="{{ url_for('static', filename='profile_pics/' + visita.author.image_file) }}"
        class="rounded-circle article-img">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('users.account') }}">{{ visita.author.get_username() }}</a>
            <small class="text-muted">{{ visita.fecha_visita.strftime('%Y-%m-%d') }}</small>
        </div> 
        <h2>{{ visita.nombre_empresa }}</h2>
        <p class="article-content">{{ visita.objetivo }}</p>
        {% if visita.author == current_user or current_user.access == 4 %}
            <div>
                <a class="btn btn-info btn-sm m-1" href="{{ url_for('solicitudes.actualizar_visita', visita_id=visita.id) }}">Actualizar</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
                    data-target="#deleteModal">Borrar</button>
            </div>
        {% endif %}
    </div>
</article>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Borrar Visita</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <form action="{{ url_for('solicitudes.borrar_visita', visita_id=visita.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content%}