{% extends "base.html" %}
{% block content %}
    <h1 class="mb-3">Mis visitas ({{ visitas.total }})</h1>
    {% for visita in visitas.items %}
    <article class="media content-section">
        <img src="{{ url_for('static', filename='profile_pics/' + visita.author.image_file) }}"
            class="rounded-circle article-img">
        <div class="media-body">
            <div class="article-metadata">
                <a href="{{ url_for('usuarios.account') }}">{{ visita.author.get_username() }}</a>
                <small class="text-muted">{{ visita.fecha_visita.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('solicitudes.actualizar_visita', visita_id=visita.id) }}">{{ visita.nombre_empresa }}</a></h2>
            <ul class="list-group mb-2">
                <li class="list-group-item-light list">Carrera: <b>{{ visita.get_carrera() }}</b></li>
                <li class="list-group-item-light list">Semestre: <b>{{ visita.semestre }}</b></li>
                <li class="list-group-item-light list">Materia: <b>{{ visita.nombre_asignatura }}</b></li>
                <li class="list-group-item-light list">Unidad: <b>{{ visita.unidad_asignatura }}</b></li>
            </ul>
            {% if visita.author == current_user or current_user.access == 4 %}
                <div>
                    <form action="{{ url_for('solicitudes.borrar_visita', visita_id=visita.id) }}" method="POST">
                        <a class="btn btn-outline-info btn-sm m-1 mt-3" href="{{ url_for('solicitudes.actualizar_visita', visita_id=visita.id) }}">Actualizar</a>
                        <button type="submit" class="btn btn-danger btn-sm m-1 mt-3">Eliminar</button>
                    </form>
                </div>
            {% else %}
                <div>
                    <a class="btn btn-outline-info btn-sm m-1 mt-3" href="{{ url_for('solicitudes.actualizar_visita', visita_id=visita.id) }}">Aceptar</a> 
                    <a class="btn btn-outline-info btn-sm m-1 mt-3" href="{{ url_for('solicitudes.actualizar_visita', visita_id=visita.id) }}">Rechazar</a>   
                </div>
            {% endif %}
            {% if current_user.access == 4 or current_user.access == 0 %}
                {% if visita.get_status() == 0 %}
                    <div class="state-visita">
                        <span class="dot" style="background-color: rgb(199, 196, 36); border-radius: 50%;"></span>
                        <span class="state text-muted" style="font-size: 0.9rem;">En espera</span>
                    </div>
                {% elif visita.get_status() == 1 %}
                    <div class="state-visita">
                        <span class="dot" style="background-color: rgb(25, 207, 34); border-radius: 50%;"></span>
                        <span class="state text-muted" style="font-size: 0.9rem;">Aceptado</span>
                    </div>
                {% elif visita.get_status() == 2 %}
                    <div class="state-visita">
                        <span class="dot" style="background-color: rgb(252, 50, 44); border-radius: 50%;"></span>
                        <span class="state text-muted" style="font-size: 0.9rem;">Denegado</span>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </article>
    {% endfor %}

    {% for page_num in visitas.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if visitas.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('usuarios.visitas_usuario', id=user.id, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('usuarios.visitas_usuario', id=user.id, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content%}

{% block content2 %}
    {% if last_visita %}
        <div class="col-md-4 mt-5">
            <div class="content-section">
                <h3>Proxima visita</h3>
                <p class='text-muted'>Siguiente visita en el calendario</p>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">Materia: <b>{{ last_visita.nombre_asignatura }}</b></li>
                        <li class="list-group-item list-group-item-light">Carrera: <b>{{ last_visita.get_carrera() }}</b></li>
                        <li class="list-group-item list-group-item-light">Empresa: <b>{{ last_visita.nombre_empresa }}</b></li>
                        <li class="list-group-item list-group-item-light">Fecha: <b>{{ last_visita.fecha_visita.strftime('%Y-%m-%d') }}</b></li>
                    </ul>
            </div>
        </div>
    {% endif %}
{% endblock content2 %}